*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
:root{
    --primary:#0d5f51;
    --gray:#525151;
    --light-gray:#f4f4f4;
    --dark-gray:#666666;
    --white:#ffffff;
    --dark:#121212;
    --oscure:0,0,0;
}
h1{ flex: 1; }
img{ height: auto; }
header{
    grid-area: header;
    top: 0;
    z-index: 2;
}
header button{
    border: 0;
    padding: 0 1rem;
    background: transparent;
    font-size: 1.15rem;
}
main{
    grid-area: main;
    padding: 2rem;
    grid-column-start: 1;
}
main section{
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(1, 1fr);
}
main section article{
    border-radius: 0.313rem;
    box-shadow: 0 0 .25rem rgba(var(--oscure), .25);
    flex-direction: column;
    justify-content: space-between;
}
main section article h2{
    padding: 0 .7rem;
    text-align: center;
}
main section article a:first-child{
    transition: opacity .3s ease-in;
}
main section article a:first-child:hover{
    opacity: 1;
}
main section article a:last-child{
    margin-top: 1rem;
}
main section article a:last-child:hover{
    background-color: var(--dark-gray);
}
footer{
    grid-area: footer;
    border-top: 1px solid var(--dark-gray);
    justify-content: center;
    background-color: var(--white);
}
#wrap-main{
    min-height: 100vh;
    grid-template-rows: 4.375rem calc(100% - 7.375rem) 3rem;
    grid-template-columns: 0 1fr;
    grid-template-areas: 
    'header header'
    'menu main'
    'footer footer';
}
#wrap-main.open{
    grid-template-columns: 12.5rem 1fr;
}
#wrap-main.open .menu{
    overflow: initial;
    width: 12.5rem;
}
.menu{
    grid-area: menu;
    background-color: var(--light-gray);
    top: 4.375rem;
    width: 0;
    height: 100%;

}
.menu div ul{
    list-style-type: none;
    flex-direction: column;
}
.menu h2{
    margin-bottom: 1.5rem;
}
.menu ul li{
    margin-bottom: .7rem;
}
.menu a{
    color: var(--dark-gray);
}
.menu a:hover{
    text-decoration: underline;
    color: var(--dark);
}
.menu a data{
    color: var(--gray);
    font-weight: bold;
}

/*unify properties*/
header,
main section article a:last-child{
    background-color: var(--primary);
    text-align: center;
}
header, .menu{
    position: fixed;
}
main section article, footer{
    align-items: center;
}
header, 
.menu div, 
main section article a:last-child{
    padding: 1rem;
}
header,
header button,
main section article a:last-child{
  color: var(--white);
}
header,
main section article img,
main section article a:last-child{
    width: 100%;
}
main section,
main section article{
    gap: 1rem;
}
main section article,
.menu{
  overflow: hidden;
}
main section article a:last-child,
.menu a{
  text-decoration: none;
}
footer,
#wrap-main.open .menu,
.menu{
  z-index: 1;
}
/*unify properties*/


/*Display*/
.d-grid{
    display: grid;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
/*Display*/

/*Media queries*/
@media screen and (min-width: 576px){
    main{
        grid-column-start: 2;
    }
    #wrap-main{
        grid-template-columns: 12.5rem 1fr;
    }
    header button{
        display: none;
    }
    .menu{
        overflow: initial;
        width: 12.5rem;
    }
    main section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px){
    main section{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    main section article a:first-child{
        opacity: .8;
    }
}
@media screen and (min-width: 992px){
    main section{
        grid-template-columns: repeat(4, 1fr);
    }
}
/*Media queries*/